/* (*) is the global elements selector, it selects all elements on the page */
* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: sans-serif;
  color: #444444;
  position: relative;
}

.container {
  width: 80%;
  margin: 0 auto;
}
.main-header {
  background-color: #c5c6c7;
  padding: 20px;
  margin-bottom: 60px;
  height: 80px;
}

nav {
  font-size: 18px;
}

article {
  margin-bottom: 60px;
}

.post-header {
  margin-bottom: 40px;
}

.post-img {
  width: 100%;
  height: auto;
}

aside {
  background-color: #fafafa;
  border-bottom: 5px solid #1098ad;
  border-top: 5px solid #1098ad;
  /* padding-top: 50px; we chan use shorthand like the below one
  padding-bottom: 50px; */

  /* shorthand for the padding property */
  padding: 50px, 0;
  width: 500px;
}

h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
  color: #1098ad;
}

h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 10px;
}

p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
}

ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}

li {
  font-size: 18px;
  margin-bottom: 10px;
}
li:last-child {
  margin-bottom: 0;
}

/* footer p {
  font-size: 16px;
} */
/*header p {
  font-style: italic;
}*/

#author {
  font-style: italic;
  font-size: 18px;
}

#copyright {
  font-size: 16px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

.related-list {
  list-style: none;
}

li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
}

/* this is another way of adding the color to the entier page at once */
/* li:nth-child(odd) {
  color: red;
} */

/* Styling links */
a:link {
  color: #1098ad;
  text-decoration: none;
}
a:visited {
  color: #3f4eb2;
}
a:hover {
  color: #1025ad;
  font-weight: bold;
  text-decoration: underline #1025ad;
}
a:active {
  background-color: turquoise;
  font-style: italic;
}

nav a:link {
  margin-right: 20px;
  margin-top: 20px;
  display: inline-block;
}

button {
  padding: 20px;
  font-size: 18px;
  cursor: pointer;
  position: absolute;
  /* top: 50px;
  right: 50px; */

  bottom: 50px;
  right: 50px;
}
