body {
  background-color: #f0f8ff;
  font-family: Arial, sans-serif;
}

h1,
h2,
h3,
h4 {
  text-decoration: underline;
}

.conflict-class {
  color: #1f2cbdee;
  font-size: 24px;
  font-weight: 700;
  text-decoration: underline;
}
